%visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

%btn-reset {
  padding: 0;
  font-family: inherit;
  border: none;
  background-color: transparent;
}

%list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Mixins

@mixin for-tablets {
  @media (min-width: 768px) {
    @content;
  }
}
