@import "../../utils/styles/stylesUtils";

.queryInfo {
  margin-bottom: 30px;
}

.queryResult {
  margin-bottom: 10px;
  font-size: 24px;

  @include for-tablets {
    font-size: 36px;
  }

  &::after {
    content: "";
    display: block;
    width: 140px;
    height: 1px;
    margin-top: 10px;
    border-top: 1px solid #2a172d;

    @include for-tablets {
      width: 170px;
    }
  }
}

.candidatesCount {
  color: #0096c7;
}

.positionText {
  max-width: 263px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #5b5b5b;

  @include for-tablets {
    display: inline-block;
    max-width: fit-content;
    font-size: 16px;
    margin-right: 20px;
  }
}

.filter {
  display: flex;
  justify-content: space-between;

  @include for-tablets {
    display: inline-flex;
  }
}

.selectFilter {
  @extend %btn-reset;

  display: flex;
  align-items: center;
  color: #0096c7;
  font-weight: 500;
  font-size: 16px;
}

.selectText {
  margin-right: 16px;
}

.openFiltersBtn {
  @extend %btn-reset;

  padding: 11px;
  background-color: #f4f6fc;
  border-radius: 8px;

  @include for-tablets {
    display: none;
  }
}
