@import "../../utils/styles/stylesUtils";

.checkboxWrap {
  display: flex;
  align-items: center;
  color: #555556;
}
.nativeCheckbox {
  @extend %visually-hidden;

  &:checked ~ .customCheckbox {
    background-color: #fbc53c;
    background-image: url("../../images/icons/checkIcon.svg");
  }
}

.customCheckbox {
  width: 19px;
  height: 19px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid #ffe177;

  background-position: center;
  background-repeat: no-repeat;
}

.text {
  margin-right: auto;
}

.count {
  &:not(:last-child) {
    margin-right: 22px;
  }
}

.img {
  margin-right: 8px;
}

.subOptions {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  display: none;

  &.isOpen {
    display: block;
  }

  color: #555556;
}

.optionWrap {
  display: flex;
  align-items: center;
  padding: 0 25px 0;

  &:not(:last-child) {
    margin-bottom: 22px;
  }
}

.nativeOption {
  min-width: 16px;
  height: 16px;
  margin-right: 10px;
  border-color: #000046;
}

.subOptionsArrow {
  transition: transform ease 250ms;

  &.isOpen {
    transform: rotate(180deg);
  }
}

.subOptionText {
  margin-right: auto;

  font-size: 14px;
}
