.App {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 768px) {
  .main-content {
    display: block;
    grid-template-columns: auto;
  }
}
